// Variables

@crail: #C15F3C;
@ivory: #FFFFF0;
@cloudy: #B1ADA1;
@pampas: #F4F3EE;
@white: #FFFFFF;
@brand-primary: @crail;
@gray-dark: #302E2A;
@gray: @cloudy;
@gray-l: lighten(@cloudy, 12%);
@white-faded: fade(@white, 80%);
@gray-light: @pampas;
